{% extends "base.html" %}
{% block content %}
<h1>About Me</h1>
<p>I'm a young student, programmer, and nerd from Finland who spends most of their time
doing all kinds of cool stuff with computers.</p>
<p>I'm a student at Aalto University, currently halfway through my BSc (tech) degree.
My major is Computer Science and I'm minoring in Information Technology, focusing primarily
on radio technology.</p>
<p>I'm also an active and respected member in the <a href="https://testausserveri.fi">Testausserveri ry</a>
community for young Finnish hackers</p>

<h3>ThinkPads</h3>
<p>I'm currently daily driving a T480</p>
<p>I have previously used the following machines:</p>
<ul>
    <li><a href="/blog/x200">X200</a></li>
    <li><a href="/blog/t440p">T440p</a></li>
    <li>W540</li>
    <li>T450s</li>
    <li>T480</li>
</ul>

<h3>Programming</h3>
<p>I spend a big part of my time programming. I'm most experienced with C/C++, Rust and Haskell</p>
<p>My experience ranges from full-stack development to embedded development. I'm generally more interested about low-level stuff.</p>
<p>Here are some of my notable projects:</p>
<ul>
    <li><a href="https://testaustime.fi">Testaustime</a>: Tracks the users coding activity and allows them to analyze their data
        and compete with other users. All source code is freely available <a href="https://github.com/Testaustime">here</a>.</li>
    <li><a href="https://github.com/Testausserveri/torimies-rs">Torimies</a>: A Discord and Telegram bot written in Rust,
        that sends updates on Tori.fi and huuto.net listings based on filter provided by the user. It utilizes the Tori.fi
        API which I had to reverse-engineer in order to get this working.</li>
    <li><a href="https://github.com/lajp/blmgr">blmgr</a>: A simple, yet powerful backlight/brightness manager for Linux with a small
        and easily hackable codebase.</li>
</ul>
<p>Additionally I've made contributions to large open-source projects such as
<a href="https://github.com/transmission/transmission">Transmission</a>.</p>
<p>Find more of my code on <a href="https://github.com/lajp">my GitHub page</a></p>

<h3>Linux</h3>
<p>I've been using Linux-based system almost exclusively since 2019.</p>
<p>I maintain my own email server based on postfix and dovecot.</p>

<h3>Contacts</h3>
<p>To get in touch with me, please email.</p>
<p>Email is generally the best and most reliable way to reach me.</p>
<p>An alternative way of reaching me is through Discord where my username is <code>lajp.</code></p>
{% endblock content %}
