<!DOCTYPE html>
<html lang="fi">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>lajp.fi</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
        <link rel="manifest" href="/static/site.webmanifest">
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
        <meta property="og:title" content="lajp.fi" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://lajp.fi" />
        <meta property="og:image" content="https://lajp.fi/static/locu.webp" />
        <meta property="og:description" content="Personal website of Luukas Pörtfors" />
    </head>
    <body>
        <div class="flex-container">
            <div class="article">
                {% block content %}{% endblock content %}
            </div>
            <div>
                <footer>
                    <p>Contact me via <a href="mailto:lajp@iki.fi">email</a>. <a href="/static/pgp.txt">My Pubkey</a>. <code>ID: 71B6 6E51 17E9 65D9</code></p>
                    <p>The source code of this website is available for reading <a href="https://github.com/lajp/lajp.fi-rs">here</a>.</p>
                </footer>
            </div>
        </div>
    </body>
</html>
