{% extends "base.html" %}
{% block content %}
<h2 style="text-align: center;">Welcome to the website of Luukas Pörtfors</h2>
<p>Learn more about me through these following links:</p>
<span>
<img style="float: right;" src="/static/locu.webp" width=25% alt="A handsome guy (me)">
<ul>
<li><a href="/about-me">About me</a></li>
<li><a href="https://github.com/lajp">My GitHub</a></li>
<li><a href="/linux-config">My linux configuration</a></li>
<li><a href="/blog">My personal blog</a></li>
</ul>
</span>
{% if active %}
<footer style="bottom:0%;position:fixed;">
    <h3>
    Currently coding <code>{{ project_name }}</code>
    for <code>{{ hours }}</code> hours
    <code>{{ minutes }}</code> minutes
    <code>{{ seconds }}</code> seconds
    {% if hostname != "" %}
    on <code>{{ hostname }}</code>
    {% endif %}
    {% if language != "" %}
    using <code>{{ language }}</code>.
    {% endif %}
    </h3>
</footer>
{% endif %}
{% endblock content %}
